body {
  background: #000000 url("https://smbstatic.sgp1.digitaloceanspaces.com/jonitogel/images/background/jonitogel_background_default.jpg") center center no-repeat !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(1) {
  content:url("https://augipt.sgp1.digitaloceanspaces.com/slider/jonitogel/SINGAPORE%20POOLS.jpg") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(2) {
  content:url("https://augipt.sgp1.digitaloceanspaces.com/slider/jonitogel/HONGKONG%20POOLS.jpg") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(3) {
  content:url("https://augipt.sgp1.digitaloceanspaces.com/slider/jonitogel/SYDNEY%20POOLS.jpg") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(4) {
  content:url("https://augipt.sgp1.digitaloceanspaces.com/slider/jonitogel/BULLSEYE%20POOLS.jpg") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(5) {
  content:url("https://augipt.sgp1.digitaloceanspaces.com/slider/jonitogel/CAMBODIA%20POOLS.jpg") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(6) {	
  content:url("https://augipt.sgp1.digitaloceanspaces.com/slider/jonitogel/NEVADAPOOLS.jpg") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(7) {
  content:url("https://augipt.sgp1.digitaloceanspaces.com/slider/jonitogel/MAGNUM%204D%20POOLS.jpg") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(8) {
  content:url("https://augipt.sgp1.digitaloceanspaces.com/slider/jonitogel/CAROLINA%20POOLS.jpg") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(9) {
  content:url("https://augipt.sgp1.digitaloceanspaces.com/slider/jonitogel/PCSO%20POOLS.jpg") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(10) {
  content:url("https://augipt.sgp1.digitaloceanspaces.com/slider/jonitogel/CHINA%20POOLS.jpg") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(11) {
  content:url("https://augipt.sgp1.digitaloceanspaces.com/slider/jonitogel/TOTO%20MACAU.jpg") !important;

}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(12) {
  content:url("https://augipt.sgp1.digitaloceanspaces.com/slider/jonitogel/CALIFORNIA%20POOLS.jpg") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(13) {
  content:url("https://augipt.sgp1.digitaloceanspaces.com/slider/jonitogel/FLORIDA%20POOLS.jpg") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(14) {
  content:url("https://augipt.sgp1.digitaloceanspaces.com/slider/jonitogel/NEW%20YORK%20POOLS.jpg") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(15) {
  content:url("https://augipt.sgp1.digitaloceanspaces.com/slider/jonitogel/OREGON%20POOLS.jpg") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(16) {
  content:url("../images/icon_games_homepage/jonitogel_48D.png") !important;

}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(17) {
  content:url("https://augipt.sgp1.digitaloceanspaces.com/slider/jonitogel/ROULETTE.jpg") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(18) {
  content:url("https://augipt.sgp1.digitaloceanspaces.com/slider/jonitogel/SICBO%20DICE.jpg") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(19) {
  content:url("https://augipt.sgp1.digitaloceanspaces.com/slider/jonitogel/12D.jpg") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(20) {
  content:url("https://augipt.sgp1.digitaloceanspaces.com/slider/jonitogel/DICE%206.jpg") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(21) {
  content:url("https://augipt.sgp1.digitaloceanspaces.com/slider/jonitogel/24D.jpg") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(22) {
  content:url("https://augipt.sgp1.digitaloceanspaces.com/slider/jonitogel/24D%20SPIN.jpg") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(23) {
  content:url("https://augipt.sgp1.digitaloceanspaces.com/slider/jonitogel/ROULETTE%202.jpg") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(24) {
  content:url("https://augipt.sgp1.digitaloceanspaces.com/slider/jonitogel/BACCARAT.jpg") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(25) {
  content:url("https://augipt.sgp1.digitaloceanspaces.com/slider/jonitogel/POKER%20DICE.jpg") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(26) {
  content:url("https://augipt.sgp1.digitaloceanspaces.com/slider/jonitogel/SUWIT.jpg") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(27) {
  content:url("https://augipt.sgp1.digitaloceanspaces.com/slider/jonitogel/RED%20AND%20WHITE.jpg") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(28) {
  content:url("https://augipt.sgp1.digitaloceanspaces.com/slider/jonitogel/DRAGON%20TIGER.jpg") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(29) {
  content:url("https://augipt.sgp1.digitaloceanspaces.com/slider/jonitogel/OGLOK.jpg") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(30) {
  content:url("https://augipt.sgp1.digitaloceanspaces.com/slider/jonitogel/IDN%204%20STAND_.jpg") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(31) {
  content:url("https://augipt.sgp1.digitaloceanspaces.com/slider/jonitogel/SICBO%20BALL.jpg") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(32) {
  content:url("https://augipt.sgp1.digitaloceanspaces.com/slider/jonitogel/HEAD%20&%20TAIL.jpg") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(33) {
  content:url("https://augipt.sgp1.digitaloceanspaces.com/slider/jonitogel/MONOPOLY.jpg") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(34) {
  content:url("https://augipt.sgp1.digitaloceanspaces.com/slider/jonitogel/5D%20BALL.jpg") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(35) {
  content:url("https://augipt.sgp1.digitaloceanspaces.com/slider/jonitogel/GONG%20BALL.jpg") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(36) {
  content:url("https://augipt.sgp1.digitaloceanspaces.com/slider/jonitogel/BILLIARD.jpg") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(37) {
  content:url("https://augipt.sgp1.digitaloceanspaces.com/slider/jonitogel/3D%20SHIO.jpg") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(38) {
  content:url("https://augipt.sgp1.digitaloceanspaces.com/slider/jonitogel/RACE%20BALL.jpg") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(39) {
  content:url("https://augipt.sgp1.digitaloceanspaces.com/slider/jonitogel/FANTAN.jpg") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(40) {
  content:url("https://augipt.sgp1.digitaloceanspaces.com/slider/jonitogel/NIU%20NIU.jpg") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(41) {
  content:url("../images/icon_games_homepage/jonitogel_idnslot.png") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(42) {
  content:url("../images/icon_games_homepage/jonitogel_pgsoft.png") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(43) {
  content:url("../images/icon_games_homepage/jonitogel_toptrend.png") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(44) {
  content:url("../images/icon_games_homepage/jonitogel_pragmatic.png") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(45) {
  content:url("../images/icon_games_homepage/jonitogel_microgaming.png") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(46) {
  content:url("../images/icon_games_homepage/jonitogel_habanero.png") !important;
}
  
.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(47) {
  content:url("../images/icon_games_homepage/jonitogel_bingosicbo.png") !important;
}  

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(48) {
  content:url("https://augipt.sgp1.digitaloceanspaces.com/slider/jonitogel/COMINGSOON%20JONITOGEL.jpg") !important;
}
   
.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(49) {
  content:url("https://augipt.sgp1.digitaloceanspaces.com/slider/jonitogel/COMINGSOON%20JONITOGEL.jpg") !important;
} 
#content .panel-heading:nth-child(1), #content .panel-heading:nth-child(2) , #content .panel-heading:nth-child(3) ,#content .panel-heading:nth-child(4) ,#content .panel-heading:nth-child(5) ,#content .panel-heading:nth-child(6),#content .panel-heading:nth-child(7)  {
  margin-top: -60px;
}



.col-md-9 {
    top: -28px !important;
    left: 7px !important;
}
footer#footer {
  background-color: transparent !important;
}
.col-md-12.copyright {
  border-top: 1px #d29c28 solid !important;
}
.col-md-12 {
  border-top: 1px #d29c28 solid !important;
  background: #271010c2  !important;
}

.navbar-fixed-top {
  background-color: #271010c2 !important;

}

.custom-navigation {
  display: none !important;
}

#bank .container .col-md-9 {
  margin-top: -60px !important;
}

.footer-bottom {
  background-color: #271010c2 !important;
}

.bank {
    text-align: center;
    width: 161px !important;
    height: 62px !important;
    padding: 0px !important;
    background-color: rgba(0,0,0,0) !important;
    border: none !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -o-border-radius: 0px !important;
    border-radius: 0px !important;
    margin-left: 0px;
}

.owl-wrapper .owl-item .bank .online.bca{
width: 161px !important;
  height: 62px !important;
background: url('https://augipt.sgp1.digitaloceanspaces.com/jonitogel/images/banks/jonitogel_online_bca.gif') 0px 0px no-repeat !important;
}

.owl-wrapper .owl-item .bank .online.mandiri{
width: 161px !important;
  height: 62px !important;
background: url('https://augipt.sgp1.digitaloceanspaces.com/jonitogel/images/banks/jonitogel_online_mandiri.gif') 0px 0px no-repeat !important;
}

.owl-wrapper .owl-item .bank .online.bri{
width: 161px !important;
  height: 62px !important;
background: url('https://augipt.sgp1.digitaloceanspaces.com/jonitogel/images/banks/jonitogel_online_bri.gif') 0px 0px no-repeat !important;
}

.owl-wrapper .owl-item .bank .online.bni{
width: 161px !important;
  height: 62px !important;
background: url('https://augipt.sgp1.digitaloceanspaces.com/jonitogel/images/banks/jonitogel_online_bni.gif') 0px 0px no-repeat !important;
}

.owl-wrapper .owl-item .bank .online.danamon{
width: 161px !important;
  height: 62px !important;
background: url('https://augipt.sgp1.digitaloceanspaces.com/jonitogel/images/banks/jonitogel_online_danamon.gif') 0px 0px no-repeat !important;
}

.owl-wrapper .owl-item .bank .online.cimb{
width: 161px !important;
  height: 62px !important;
background: url('https://augipt.sgp1.digitaloceanspaces.com/jonitogel/images/banks/jonitogel_online_cimb.gif') 0px 0px no-repeat !important;
}

.owl-wrapper .owl-item .bank .offline.bca{
width: 161px !important;
  height: 62px !important;
background: url('https://augipt.sgp1.digitaloceanspaces.com/jonitogel/images/banks/jonitogel_offline_bca.gif') 0px 0px no-repeat !important;
}

.owl-wrapper .owl-item .bank .offline.mandiri{
width: 161px !important;
  height: 62px !important;
background: url('https://augipt.sgp1.digitaloceanspaces.com/jonitogel/images/banks/jonitogel_offline_mandiri.gif') 0px 0px no-repeat !important;
}

.owl-wrapper .owl-item .bank .offline.bri{
width: 161px !important;
  height: 62px !important;
background: url('https://augipt.sgp1.digitaloceanspaces.com/jonitogel/images/banks/jonitogel_offline_bri.gif') 0px 0px no-repeat !important;
}

.owl-wrapper .owl-item .bank .offline.bni{
width: 161px !important;
  height: 62px !important;
background: url('https://augipt.sgp1.digitaloceanspaces.com/jonitogel/images/banks/jonitogel_offline_bni.gif') 0px 0px no-repeat !important;
}

.owl-wrapper .owl-item .bank .offline.danamon{
width: 161px !important;
  height: 62px !important;
background: url('https://augipt.sgp1.digitaloceanspaces.com/jonitogel/images/banks/jonitogel_offline_danamon.gif') 0px 0px no-repeat !important;
}

.owl-wrapper .owl-item .bank .offline.cimb{
width: 161px !important;
  height: 62px !important;
background: url('https://augipt.sgp1.digitaloceanspaces.com/jonitogel/images/banks/jonitogel_offline_cimb.gif') 0px 0px no-repeat !important;
}

.owl-wrapper .owl-item .bank .trouble.bca {
    width: 161px !important;
    height: 62px !important;
background: url('https://augipt.sgp1.digitaloceanspaces.com/jonitogel/images/banks/jonitogel_trouble_bca.gif') 0px 0px no-repeat !important;
}

.owl-wrapper .owl-item .bank .trouble.mandiri {
    width: 161px !important;
    height: 62px !important;
background: url('https://augipt.sgp1.digitaloceanspaces.com/jonitogel/images/banks/jonitogel_trouble_mandiri.gif') 0px 0px no-repeat !important;
}

.owl-wrapper .owl-item .bank .trouble.bri {
    width: 161px !important;
    height: 62px !important;
background: url('https://augipt.sgp1.digitaloceanspaces.com/jonitogel/images/banks/jonitogel_trouble_bri.gif') 0px 0px no-repeat !important;
}

.owl-wrapper .owl-item .bank .trouble.bni {
    width: 161px !important;
    height: 62px !important;
background: url('https://augipt.sgp1.digitaloceanspaces.com/jonitogel/images/banks/jonitogel_trouble_bni.gif') 0px 0px no-repeat !important;
}

.owl-wrapper .owl-item .bank .trouble.danamon {
    width: 161px !important;
    height: 62px !important;
background: url('https://augipt.sgp1.digitaloceanspaces.com/jonitogel/images/banks/jonitogel_trouble_danamon.gif') 0px 0px no-repeat !important;
}

.owl-wrapper .owl-item .bank .trouble.cimb {
    width: 161px !important;
    height: 62px !important;
background: url('https://augipt.sgp1.digitaloceanspaces.com/jonitogel/images/banks/jonitogel_trouble_cimb.gif') 0px 0px no-repeat !important;
}

.owl-wrapper .owl-item .bank .trouble.dana {
    width: 161px !important;
    height: 62px !important;
  background: url('https://augipt.sgp1.digitaloceanspaces.com/jonitogel/images/banks/jonitogel_trouble_dana.gif') 0px 0px no-repeat !important;
    }
  
  .owl-wrapper .owl-item .bank .online.dana {
    width: 161px !important;
    height: 62px !important;
  background: url('https://augipt.sgp1.digitaloceanspaces.com/jonitogel/images/banks/jonitogel_online_dana.gif') 0px 0px no-repeat !important;
  }
  
  .owl-wrapper .owl-item .bank .offline.dana {
    width: 161px !important;
    height: 62px !important;
  background: url('https://augipt.sgp1.digitaloceanspaces.com/jonitogel/images/banks/jonitogel_offline_dana.gif') 0px 0px no-repeat !important;
  }
  
  .owl-wrapper .owl-item .bank .trouble.ovo {
    width: 161px !important;
    height: 62px !important;
  background: url('https://augipt.sgp1.digitaloceanspaces.com/jonitogel/images/banks/jonitogel_trouble_ovo.gif') 0px 0px no-repeat !important;
    }
  
  .owl-wrapper .owl-item .bank .online.ovo {
    width: 161px !important;
    height: 62px !important;
  background: url('https://augipt.sgp1.digitaloceanspaces.com/jonitogel/images/banks/jonitogel_online_ovo.gif') 0px 0px no-repeat !important;
  }
  
  .owl-wrapper .owl-item .bank .offline.ovo {
    width: 161px !important;
    height: 62px !important;
  background: url('https://augipt.sgp1.digitaloceanspaces.com/jonitogel/images/banks/jonitogel_offline_ovo.gif') 0px 0px no-repeat !important;
  }
  
  .owl-wrapper .owl-item .bank .trouble.linkaja {
    width: 161px !important;
    height: 62px !important;
  background: url('https://augipt.sgp1.digitaloceanspaces.com/jonitogel/images/banks/jonitogel_trouble_linkaja.gif') 0px 0px no-repeat !important;
    }
  
  .owl-wrapper .owl-item .bank .online.linkaja {
    width: 161px !important;
    height: 62px !important;
  background: url('https://augipt.sgp1.digitaloceanspaces.com/jonitogel/images/banks/jonitogel_online_linkaja.gif') 0px 0px no-repeat !important;
  }
  
  .owl-wrapper .owl-item .bank .offline.linkaja {
    width: 161px !important;
    height: 62px !important;
  background: url('https://augipt.sgp1.digitaloceanspaces.com/jonitogel/images/banks/jonitogel_offline_linkaja.gif') 0px 0px no-repeat !important;
  }
  
  .owl-wrapper .owl-item .bank .trouble.gopay {
    width: 161px !important;
    height: 62px !important;
  background: url('https://augipt.sgp1.digitaloceanspaces.com/jonitogel/images/banks/jonitogel_trouble_gopay.gif') 0px 0px no-repeat !important;
    }
  
  .owl-wrapper .owl-item .bank .online.gopay {
    width: 161px !important;
    height: 62px !important;
  background: url('https://augipt.sgp1.digitaloceanspaces.com/jonitogel/images/banks/jonitogel_online_gopay.gif') 0px 0px no-repeat !important;
  }
  
  .owl-wrapper .owl-item .bank .offline.gopay {
    width: 161px !important;
    height: 62px !important;
  background: url('https://augipt.sgp1.digitaloceanspaces.com/jonitogel/images/banks/jonitogel_offline_gopay.gif') 0px 0px no-repeat !important;
  }

  .owl-wrapper .owl-item .bank .trouble.bsi {
    width: 161px !important;
    height: 62px !important;
  background: url('https://augipt.sgp1.digitaloceanspaces.com/jonitogel/images/banks/jonitogel_trouble_bsi.gif') 0px 0px no-repeat !important;
    }
  
  .owl-wrapper .owl-item .bank .online.bsi {
    width: 161px !important;
    height: 62px !important;
  background: url('https://augipt.sgp1.digitaloceanspaces.com/jonitogel/images/banks/jonitogel_online_bsi.gif') 0px 0px no-repeat !important;
  }
  
  .owl-wrapper .owl-item .bank .offline.bsi {
    width: 161px !important;
    height: 62px !important;
  background: url('https://augipt.sgp1.digitaloceanspaces.com/jonitogel/images/banks/jonitogel_offline_bsi.gif') 0px 0px no-repeat !important;
  }

  .owl-wrapper .owl-item .bank .trouble.maybank {
    width: 161px !important;
    height: 62px !important;
  background: url('../images/banks/jonitogel_trouble_maybank.gif') 0px 0px no-repeat !important;
    }
  
  .owl-wrapper .owl-item .bank .online.maybank {
    width: 161px !important;
    height: 62px !important;
  background: url('../images/banks/jonitogel_online_maybank.gif') 0px 0px no-repeat !important;
  }
  
  .owl-wrapper .owl-item .bank .offline.maybank {
    width: 161px !important;
    height: 62px !important;
  background: url('../images/banks/jonitogel_offline_maybank.gif') 0px 0px no-repeat !important;
  } 




.col-md-9 {
    left: 3px !important;
    margin-top: 10px;
}

.col-md-9 center {
    display: none !important;
}

.col-sm-9 span img{
    margin-top: 25px !important;
}

.btn-group.with-heading {
    top: 10px !important;
}
